.user {
    height: 100vh;
    color: $colorDark;
    display: flex;
    flex-direction: column;
    padding: 200px 10px 100px 10px;
    gap: 50px;
    font-family: $fontSecond;
    color: #008080;
    justify-content: center;
    align-items: center;
    &__title {
        color: $colorDark;
        font-weight: bold;
        text-shadow: -1px 2px 5px rgba(0, 0, 0, 0.65);
        font-size: 3rem;
        @media (min-width: 768px) {
          font-size: 4rem;
        }
    }
    &__subtitle {
        color: $colorDark;
        text-align: center;
        font-weight: bold;
        text-shadow: -1px 2px 5px rgba(0, 0, 0, 0.65);
        font-size: 1.5rem;
        justify-content: center;
        @media (min-width: 768px) {
          font-size: 2.5rem;
        }
    }
    &__form {
        color: $colorDark;
      font-family: $fontMain;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 1.5rem;
 
        @media (min-width: 768px) {
          font-size: 2.5rem;
        }
      &--validation {
      
          color: red;
          font-size: 1rem;
        
        
      }
      &--check{
        accent-color: $colorDark;
        label{
          margin-left: 10px;
        }
      }
      &--text{
        font-family: $fontSecond;
        margin-top: 20px;
        font-size: 1.3rem;
      }
      &--submit {
        font-family: $fontMain;
        background-color: $colorDark;
        color: $colorLight;
        width: 150px;
        margin: 0 auto;
        margin-top: 20px;
      }
    }
    &__message{
      font-family: $fontMain;
      font-size: 2.5rem;
    }

}