.section {
    display: flex;
    flex-direction:column;
}

.list {
    margin: 50px 20px;
    font-size: 1.5rem;
    &__pet{
        display: flex;
        gap: 20px;
        text-align: center;
        margin-bottom: 40px;
        border: 1px solid $colorDark;
        padding: 5px;
        border-radius: 15px;
        &--title{
         font-size: 1.5rem;
        }
    }
}

.selected {
    background-color: rgb(176, 185, 185);
}