.case {
  height: 100vh;

 display: flex;
  flex-direction: column;
  padding: 400px 10px 100px 10px;
  gap: 50px;
  font-family: $fontSecond;

  justify-content: center;
  align-items: center;
  
    &__form {

      font-family: $fontMain;
      display: flex;
      flex-direction: column;
      gap: 30px;
      font-size: 1.5rem;
      text-align:end;
      

      @media (min-width: 768px) {
        font-size: 2.5rem;
      }
    
 
      &--check {
        accent-color: $colorDark;
        label {
          margin-left: 5px;
        }
      }
      &--text {
        font-family: $fontSecond;
        margin-top: 20px;
        font-size: 1.3rem;
      }
      &--submit {
        font-family: $fontMain;
        background-color: $colorDark;
        color: $colorLight;
        width: 150px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 100px;
       
      }
    }
    &__message {
      font-family: $fontMain;
      font-size: 2.5rem;
    }
  }
