@import './variables.scss';

.input {
  display: flex;
  gap: 5px;
  align-items: center;
  &__contact{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  
   
  }
  &__textarea{
    padding: 5px;
    font-family: $fontSecond;
    color: $colorDark;
    &::placeholder {
      padding: 2px;
      font-family: $fontSecond;
      color: grey;
      @media (min-width: 768px) {
        font-size: 1.8rem;
      }
    }
  }
  &__input {
    padding: 5px;
    height: 40px;
    width: 140px;
    line-height: 28px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 15px;
    outline: none;
    background-color: $colorLight;
    border-radius: 5px;
    font-family: $fontSecond;
    font-size: 1.5rem;
    color: $colorDark;

    &::placeholder {
      padding: 2px;
      color: grey;
      @media (min-width: 768px) {
        font-size: 1.8rem;
      }
    }
    &:hover,
    &:focus {
      outline: none;
      background-color: $colorLight;
      border-color: $colorGreenBright;
      box-shadow: 0 0 0 0.2rem rgb(133, 237, 237, 0.25);
    }
  }
  &__label {
    font-weight: 800;
    font-family: $fontSecond;
    font-size: 1.5rem;
  }
}

.contact {
  height: 100vh;
}