@import './variables.scss';

.footer {
  background-color: $colorDark;
  display: flex;
  height: 100px;
  align-items: flex-start;
  width: 100vw;

  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;

  padding: 5px;
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__text {
    font-size: 1rem;
    text-decoration: none;
    color: $colorLight;
    @media (min-width: 768px) {
      font-size: 1.5rem;
      padding: 2px;
    }
  }
  &__icon {
    color: black;
    font-size: 12px;
    margin-left: 4px;
    margin-right: 4px;

    @media (min-width: 768px) {
      font-size: 18px;
    }
  }
}
