@import './variables.scss';


.hero {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 200px 10px 100px 10px;
  gap: 50px;
  font-family: $fontSecond;
  height: 100%;
 
  &__info {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  &__title {
    font-weight: bold;
    text-shadow: -1px 3px 5px rgba(0, 0, 0, 0.65);
    font-size: 4rem;
    justify-content: center;
    @media (min-width: 768px) {
      font-size: 7rem;
    }
    text-align: center;
    line-height: 1.5;
    padding: 10px;
    border-radius: 50px;
  }
  &__section {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        flex-direction: row;
    }

    &--img{
      margin: 30px auto;
      width: 80%;
      object-fit: cover;
      border: 2px solid $colorDark;
      box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.65);
      border-radius: 50px;
      @media (min-width: 768px) {
        width: 40%;
       
        margin: 80px 30px;
      
      }
    }
 
  }
}

.heroArticle {
  display: flex;
  flex-direction: column;
  z-index: 2;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;

  }
  &__icon {
    font-size: 30px;
    color: #fefbf0;
  }
  &__img {
    // height: 300px;
    width: 80%;
    min-height: 200px;
    object-fit:fill;
    border: 2px solid $colorDark;
    border-radius: 25px;
    box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.65);
    @media (min-width: 768px) {
     width: 50%;
    }
  
    
  }
  &__img2 {
   
    height: 300px;
    object-fit:fill;
    border: 2px solid $colorDark;
    border-radius: 25px;
    box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.65);
    @media (min-width: 768px) {
      height: 400px;
    }
    
    
  }
 
 
  &__icon {
    color: $colorDark;
    margin: 0 auto;
  }
    

  
  &__titles {
    // transform: translateY(-50%);
    z-index: 4;
    background-color: rgb(254, 251, 240, 0.8);
    padding: 20px;
    border: 2px solid $colorDark;
    box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.65);
    margin: 20px;
    &--h2 {
      font-family: $fontSecond;

      font-weight: 600;
      font-size: 2rem;
      text-align: center;
      line-height: 1.5;
      @media (min-width: 768px) {
        font-size: 3rem;
      }
    }
    &--h3 {
      font-family: $fontSecond;
      font-weight: normal;
      font-size: 2rem;

      text-align: center;
      line-height: 1.5;
      @media (min-width: 768px) {
        font-size: 2.5rem;
      }
    }
  }
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


.desc {
  text-align: center;
  width: 100vw;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__titles {
    margin: 30px;
    font-size: 1.5rem;
    font-weight: 500;
    @media (min-width: 768px) {
      font-size: 2.5rem;
flex-direction: row;

    
    }
  }

  &__imgDog{
    width: 80%;
    margin: 30px;
    @media (min-width: 768px) {
     
    }
  }
 
}

.pointer {
  cursor: pointer;
  &:hover {
    transform: scale(1.4);
    transition-duration: 600ms;
    transition-timing-function: ease;
    font-weight: bold;
    box-shadow: 0px 0px 62px 25px rgb(133, 237, 237);
  }

  .link {
    text-decoration: none;
    color: $colorDark;
  }
}



.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;


  }
  
}

.aside{
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  @media (min-width: 768px) {
    flex-direction: row;
  
    align-items: center;
  }
  &__logout{
    margin: 30px;
  }
  &__subtitles {
    font-family: $fontSecond;
    background-color: $colorDark;
    color: $colorLight;
    font-size: 1.5rem;
    padding: 10px;
    margin: 20px 30px;
    width: 120px;

    @media (min-width: 768px) {
      font-size: 2.5rem;
      width: 200px;

    }
  }


}