// fonts
$fontMain: 'Roboto', sans-serif;
$fontSecond: 'Roboto Serif', serif;
// colors
$colorYellow: #fbffb7;
$colorGreenLight: #eefcf0;
$colorGreenBright: #efffda;
$colorDark: #008080;
$colorLight:   #f9fbf2;
$toggle-bg: #023838;
$toggle-fg: rgb(133, 237, 237);