@import 'core/reset';
@import 'core/variables.scss';
@import 'layout/header.scss';
@import 'layout/hero.scss';
@import 'layout/createUser.scss';
@import 'layout/heroDesc.scss';
@import 'layout/newCase.scss';
@import 'layout/list.scss';

.body {
  height: 100%;
  font-family: $fontMain;
  background-color: #fefbf0;
  color: #008080;
}
